.living.category-page{
  padding-top: 120px;
  padding-bottom: 140px;
}

.living .category-banner{
  width: 486px;
}

.living .category-banner-title{
  color: #315A9F;
}


.docs.category-page{
  padding-top: 110px;
  padding-bottom: 100px;
}

.docs .category-banner{
  width: 486px;
}

.docs .category-banner-title{
  color: #E9A6C7;
}

.work.category-page{
  padding-top: 110px;
  padding-bottom: 100px;
}

.work .category-banner{
  width: 486px;
}

.work .category-banner-title{
  color: #EAC01B;
}

.social.category-page{
  padding-top: 110px;
  padding-bottom: 100px;
}

.social .category-banner{
  width: 486px;
}

.social .category-banner-title{
  color: #C63E3E;
}

.learn.category-page{
  padding-top: 110px;
  padding-bottom: 100px;
}

.learn .category-banner{
  width: 486px;
}

.learn .category-banner-title{
  color: #9DD6DF;
}

.finance.category-page{
  padding-top: 110px;
  padding-bottom: 100px;
}

.finance .category-banner{
  width: 486px;
}

.finance .category-banner-title{
  color: #255E55;
}
